services:
  cherkasyoblenergo-api:
    container_name: cherkasyoblenergo-api
    user: "1000:1000"
    build:
      context: .
      args:
        AppVersion: ${APP_VERSION}
    image: cherkasyoblenergo-api:${APP_VERSION}
    restart: always
    ports:
      - "${SERVER_PORT}:8080"
    environment:
      - DB_NAME=/app/db/cherkasyoblenergo.db
      - SERVER_PORT=8080
      - NEWS_URL=${NEWS_URL}
      - APP_VERSION=${APP_VERSION}
    volumes:
      - ~/sqlite_db:/app/db
    env_file:
      - .env
    networks:
      - cherkasyoblenergo-network
      - think-root-network

networks:
  cherkasyoblenergo-network:
    name: cherkasyoblenergo-network
    driver: bridge
  think-root-network:
    external: true
    name: think-root-network
