services:
  cherkasyoblenergo-api:
    container_name: cherkasyoblenergo-api
    build:
      context: .
      args:
        AppVersion: ${APP_VERSION}
    image: cherkasyoblenergo-api:${APP_VERSION}
    restart: always
    ports:
      - "${SERVER_PORT}:${SERVER_PORT}"
    env_file:
      - .env
    networks:
      - cherkasyoblenergo-network
      - think-root-network

networks:
  cherkasyoblenergo-network:
    name: cherkasyoblenergo-network
    driver: bridge
  think-root-network:
    external: true
    name: think-root-network
